@page "/Encuesta/Delete/{EncuestaId:int}"
@using Darvyn_Lavandier_P2_AP1.Models
@using Darvyn_Lavandier_P2_AP1.Services
@inject EncuestaService encuestaService
@inject NavigationManager navigationManager

<PageTitle>Eliminar Encuesta</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        @* Header *@
        <div class="card-header text-center">
            <h5><strong>Datos de la Encuesta</strong></h5>
        </div>

        @* Body *@
        <div class="card-body">
            <div class="text-center">
                <h5><strong>¿Desea eliminar esta encuesta?</strong></h5>
            </div>
            <ul class="mt-4">
                <li><strong>EncuestaId: </strong>@Encuesta.EncuestaId</li>
                <li><strong>Fecha: </strong>@Encuesta.Fecha.ToString("dd/MM/yyyy")</li>
                <li><strong>Asignatura: </strong>@Encuesta.Asignatura</li>
            </ul>

            @* Mostrar detalles si existen *@
            @if (Encuesta.Detalles != null && Encuesta.Detalles.Any())
            {
                <div class="border border-danger p-2 mt-2">
                    <h7><strong>Detalles de la Encuesta</strong></h7>
                    <div>
                        @foreach (var detalle in Encuesta.Detalles)
                        {
                            <li class="mt-2">
                                Ciudad: @detalle.Ciudad.Nombre, Monto: @detalle.Monto.ToString("N2")
                            </li>
                        }
                    </div>
                </div>
            }
        </div>

        @* Footer *@
        <div class="card-footer text-center">
            <a href="/Encuesta/Index" class="btn btn-primary"> <span class="bi bi-arrow-left"></span> Volver</a>
            <button type="button" class="btn btn-danger bi bi-trash" @onclick="Eliminar"> Eliminar</button>
        </div>
    </div>
</div>

@Mensaje

@code {
    [Parameter]
    public int EncuestaId { get; set; }

    public Encuesta Encuesta { get; set; } = new Encuesta();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Encuesta = await encuestaService.Buscar(EncuestaId);
    }

    public async Task Eliminar()
    {
        var eliminado = await encuestaService.Eliminar(Encuesta.EncuestaId);

        if (eliminado)
        {
            Mensaje = "Encuesta eliminada exitosamente.";
            navigationManager.NavigateTo("/Encuesta/Index");
        }
        else
        {
            Mensaje = "Hubo un error al eliminar la encuesta.";
        }
    }
}
